.carta-perfil{

    display: grid;
    grid-template-columns: 33% 67%;

    margin-top: 2%;

}

.foto-perfil{

    width: 100%;
    height: 100%;
}

.texto-perfil{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 30% 40% 30%;
    background-color: rgb(44, 62, 80 );
    opacity: 0.9;
}

.titulo-perfil{
    text-align: center;
    padding: 8%;
    font-size: 20px;
}

.descripcion-perfil{
    text-align: center;
    font-size: 18px;
    margin: 5%;
}

.contacto-perfil{
    text-align: center;
}

.icono-contacto-perfil{
justify-content: center;
display: inline-block;
margin-left: 5%;
margin-top: 7%;
width: 60px;
height: 60px;
border: 1px solid #ffff;
border-radius: 50%;
text-align: center;
color: #ffff;
font-size: 30px;
line-height: 60px;
}

    