/* 

Los tamaños más comunes en webs responsive

Algunas de los tamaños web más comunes son las siguientes:

Móviles pequeños: 360×640 píxeles
Móviles medianos: 375×667 píxeles
Móviles grandes: 414×736 píxeles
Tablets: 768×1024 píxeles
Ordenadores portátiles: 1366×768 píxeles
Escritorios: 1440×900 píxeles
Escritorios grandes: 1920×1080 píxeles

*/

/* CARTA PERFIL */

    /* ( 768PX / ... ) */

    @media (min-width:768px){

        .carta-perfil{
            margin-left: 20%;
            border-top-left-radius: 1.5vw;
            border-bottom-left-radius: 1.5vw;
       }

       .foto-perfil{
           border-top-left-radius: 1.5vw;
           border-bottom-left-radius: 1.5vw;
       }

    }

    /* ( 600PX / 767PX ) */

    @media only screen and (min-width: 600px) and (max-width: 767px) {

        .carta-perfil{
            margin-left: 10%;
            margin-right: 10%;

           border-radius: 1.5vw;
     }

      .foto-perfil{
           border-top-left-radius: 1.5vw;
          border-bottom-left-radius: 1.5vw;
      }

       .texto-perfil{
           border-top-right-radius: 1.5vw;
           border-bottom-right-radius: 1.5vw;
      }

    }

    /* ( 421PX / 599PX ) */

    @media (min-width:421px){

        .icono-contacto-perfil{
            width: 60px;
            height: 60px;
            font-size: 30px;
            line-height: 60px;
            }
    }

    /* ( ... / 420PX ) */

    @media (max-width:420px){

        .icono-contacto-perfil{
            width: 35px;
            height: 35px;
            font-size: 25px;
            line-height: 40px;
            }

    }
        

/* CARTA PROYECTOS */

    /* ( 768PX / ... ) */

    @media (min-width:768px){

        .carta-proyectos{
            margin-right: 20%;
            border-top-right-radius: 1.5vw;
            border-bottom-right-radius: 1.5vw;
        }

        .carta-proyectos{
            border-top-right-radius: 1.5vw;
            border-bottom-right-radius: 1.5vw;
        }

        .titulo-proyectos{
            border-top-right-radius: 1.5vw;
        }

        .contenedor-proyectos{
            border-bottom-right-radius: 1.5vw;
        }

    }

    /* ( 600PX / 767PX ) */

    @media only screen and (max-width: 767px) and (min-width: 600px) {

        .carta-proyectos{
            margin-left: 10%;
            margin-right: 10%;
            border-radius: 1.5vw;
        }

        .titulo-proyectos{
            border-top-left-radius: 1.5vw;
        }

       .texto-perfil{
           border-top-right-radius: 1.5vw;
           border-bottom-right-radius: 1.5vw;
        }

        .contenedor-proyectos{
            border-bottom-right-radius: 1.5vw;
            border-bottom-left-radius: 1.5vw;
        }   

    }

/* CARTA PORTAFOLIO */

    /* ( 768PX / ... ) */

    @media (min-width:768px){

        .carta-portafolio{
            margin-left: 20%;
            border-top-left-radius: 1.5vw;
            border-bottom-left-radius: 1.5vw;
       }

       .foto-curriculum{
           border-top-left-radius: 1.5vw;
           border-bottom-left-radius: 1.5vw;
       }

    }

    /* ( 600PX / 767PX ) */

    @media only screen and (max-width: 767px) and (min-width: 600px) {

        .carta-portafolio{
            margin-left: 10%;
            margin-right: 10%;

           border-radius: 1.5vw;
     }

      .foto-curriculum{
           border-top-left-radius: 1.5vw;
          border-bottom-left-radius: 1.5vw;
      }

       .texto-portafolio{
           border-top-right-radius: 1.5vw;
           border-bottom-right-radius: 1.5vw;
      }

    }





